$gold: #fcc200;
$light-light: #fefdd2;
$red: #9b0e27;
$white: #ffffff;

*, *::before, *::after {
    box-sizing: border-box;
}

html, body, #root {
    height: 100%;
}

#root {
    background-color: $red;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.BellPage {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 4vmin;
    justify-content: center;
    padding: 2vmin;
    overflow: auto;

    &-bell {
        height: 25vmin;
        width: 25vmin;
        position: relative;
        margin: 2vmin;

        &-note {
            height: 100%;
            width: 100%;
            
            align-items: center;
            background-color: $white;
            border-radius: 50%;
            cursor: pointer;
            display: flex;
            justify-content: center;
            padding: 2vmin;
            text-align: center;


            &.sharp {
                background-color: black;
                color: $white
            }

            &:hover {
                background-color: $gold;
            }
        }

        &-lock {
            height: 9vmin;
            width: 9vmin;
            top: -1vmin;
            right: -1vmin;

            align-items: center;
            background-color: $light-light;
            border-radius: 50%;
            border: 2px solid $gold;
            cursor: pointer;
            display: flex;
            justify-content: center;
            padding: 2vmin;
            position: absolute;

            &.locked {
                background-color: $gold;
            }

            svg {
                height: 6.5vmin;
                width: 6.5vmin;
            }
        }
    }
}